<div class="category-list-container">
  <h2>Kategorien</h2>

  @if (errorMessage) {
    <div class="error">{{ errorMessage }}</div>
  }

  @if (categories.length > 0) {
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Aktionen</th>
      </tr>
      </thead>
      <tbody>
        @for (category of categories; track category.id) {
          <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>
              <button (click)="viewDetails(category.id)">Details anzeigen</button>

              @if (isAdmin) {
                <button (click)="editCategory(category.id)">Kategorie bearbeiten</button>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p>Keine Kategorien verfügbar.</p>
  }
</div>
