.category-list-container {
  margin: 20px auto;
  max-width: 900px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .mat-elevation-z8 {
    border-radius: 8px;
    overflow: hidden;
  }

  table {
    width: 100%;
    background-color: #333;

    th {
      background-color: #007bff;
      text-align: center;
      font-weight: bold;

    }

    td {
      vertical-align: middle;
      text-align: center;
    }

    img {
      border-radius: 4px;
      display: block;
      margin: auto;
    }
  }

  button {
    margin-right: 10px;
    color: white;
    background-color: #007bff;

    &:last-child {
      margin-right: 0;
    }
  }

  .error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
}
