<div class="form-container-wrapper">
  <h2>Produkt erstellen</h2>

  @if (errorMessage) {
    <div class="error-message">{{ errorMessage }}</div>
  }

  <form (ngSubmit)="onSubmit()" #productForm="ngForm" class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>SKU</mat-label>
      <input
        matInput
        type="text"
        id="sku"
        name="sku"
        #skuModel="ngModel"
        [(ngModel)]="productData.sku"
        required
      />
      @if (skuModel.touched && skuModel.hasError('required')) {
        <mat-error>Feld darf nicht leer sein</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        id="name"
        name="name"
        #nameModel="ngModel"
        [(ngModel)]="productData.name"
        required
      />
      @if (nameModel.touched && nameModel.hasError('required')) {
        <mat-error>Feld darf nicht leer sein</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Bild-URL</mat-label>
      <input matInput type="text" id="image" name="image" [(ngModel)]="productData.image" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Beschreibung</mat-label>
      <textarea
        matInput
        id="description"
        name="description"
        #descriptionModel="ngModel"
        [(ngModel)]="productData.description"
        required
      ></textarea>
      @if (descriptionModel.touched && descriptionModel.hasError('required')) {
        <mat-error>Feld darf nicht leer sein</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Preis</mat-label>
      <input
        matInput
        type="number"
        id="price"
        name="price"
        #priceModel="ngModel"
        [(ngModel)]="productData.price"
        required
      />
      @if (priceModel.touched && priceModel.hasError('required')) {
        <mat-error>Feld darf nicht leer sein und muss eine Zahl enthalten</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Lagerbestand</mat-label>
      <input
        matInput
        type="number"
        id="stock"
        name="stock"
        #stockModel="ngModel"
        [(ngModel)]="productData.stock"
        required
      />
      @if (stockModel.touched && stockModel.hasError('required')) {
        <mat-error>Feld darf nicht leer sein und muss eine Zahl enthalten</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Kategorie</mat-label>
      <mat-select [(ngModel)]="productData.categoryId" name="categoryId">
        @for (category of categories; track category.id) {
          <mat-option [value]="category.id">{{ category.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="mat-slide-toggle-container">
      <label class="toggle-label">Aktiv?</label>
      <mat-slide-toggle [(ngModel)]="productData.active" name="active"></mat-slide-toggle>
    </div>

    <button
      mat-raised-button
      class="primary-button"
      [disabled]="!productForm.valid"
      matTooltip="Bitte füllen Sie alle Felder aus"
      [matTooltipDisabled]="productForm.valid"
    >
      Produkt erstellen
    </button>
    <a mat-raised-button routerLink="/products" class="secondary-button">Zurück zur Produktübersicht</a>
  </form>
</div>
