<div class="product-create-container">
  <h2>Produkt erstellen</h2>

  @if (errorMessage) {
    <div class="error">{{ errorMessage }}</div>
  }

  <form (ngSubmit)="onSubmit()" #productForm="ngForm">
    <label for="sku">SKU</label>
    <input
      type="text"
      id="sku"
      name="sku"
      [(ngModel)]="productData.sku"
      required
    />

    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="productData.name"
      required
    />

    <label for="image">Bild-URL</label>
    <input
      type="text"
      id="image"
      name="image"
      [(ngModel)]="productData.image"
    />

    <label for="description">Beschreibung</label>
    <textarea
      id="description"
      name="description"
      [(ngModel)]="productData.description"
      required
    ></textarea>

    <label for="price">Preis</label>
    <input
      type="number"
      id="price"
      name="price"
      [(ngModel)]="productData.price"
      required
    />

    <label for="stock">Lagerbestand</label>
    <input
      type="number"
      id="stock"
      name="stock"
      [(ngModel)]="productData.stock"
      required
    />

    <label for="categoryId">Kategorie</label>
    <select
      id="categoryId"
      name="categoryId"
      [(ngModel)]="productData.categoryId"
      required
    >
      @for (category of categories; track category.id) {
        <option [value]="category.id">{{ category.name }}</option>
      }
    </select>

    <div class="mat-slide-toggle-container">
    <label class="toggle-label">Aktiv?</label>
    <mat-slide-toggle id="active"
                      [(ngModel)]="productData.active"
                      name="active">

    </mat-slide-toggle>
  </div>

    <button type="submit" [disabled]="!productForm.valid">Produkt erstellen</button>
  </form>
</div>
