<div class="form-container-wrapper">
  <h2>Produkt bearbeiten</h2>

  @if (errorMessage) {
    <div class="error-message">{{ errorMessage }}</div>
  }

  @if (productData) {
    <form #productForm="ngForm" class="form-container">
      <mat-form-field appearance="fill">
        <mat-label>SKU</mat-label>
        <input
          matInput
          type="text"
          id="sku"
          name="sku"
          [(ngModel)]="productData.sku"
          required
        />
        @if (!productData.sku) {
          <mat-error>Feld darf nicht leer sein</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          id="name"
          name="name"
          [(ngModel)]="productData.name"
          required
        />
        @if (!productData.name) {
          <mat-error>Feld darf nicht leer sein</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Bild-URL</mat-label>
        <input matInput type="text" id="image" name="image" [(ngModel)]="productData.image" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Beschreibung</mat-label>
        <textarea
          matInput
          id="description"
          name="description"
          [(ngModel)]="productData.description"
          required
        ></textarea>
        @if (!productData.description) {
          <mat-error>Feld darf nicht leer sein</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Preis</mat-label>
        <input
          matInput
          type="number"
          id="price"
          name="price"
          [(ngModel)]="productData.price"
          required
        />
        @if (productData.price <= 0) {
          <mat-error>Feld darf nicht leer sein und muss eine Zahl enthalten</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Lagerbestand</mat-label>
        <input
          matInput
          type="number"
          id="stock"
          name="stock"
          [(ngModel)]="productData.stock"
          required
        />
        @if (productData.stock < 0) {
          <mat-error>Feld darf nicht leer sein und muss eine Zahl enthalten</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Kategorie</mat-label>
        <mat-select [(ngModel)]="productData.categoryId" name="categoryId" required>
          @for (category of categories; track category.id) {
            <mat-option [value]="category.id">{{ category.name }}</mat-option>
          }
        </mat-select>
        @if (!productData.categoryId) {
          <mat-error>Eine Kategorie muss ausgewählt werden</mat-error>
        }
      </mat-form-field>


      <div class="mat-slide-toggle-container">
        <label class="toggle-label">Aktiv?</label>
        <mat-slide-toggle [(ngModel)]="productData.active" name="active"></mat-slide-toggle>
      </div>

      <div class="button-group">
        <button
          mat-raised-button
          class="primary-button"
          type="button"
          (click)="onSave()"
          [disabled]="!productForm.valid"
        >
          Änderungen speichern
        </button>
        <button mat-raised-button class="secondary-button" type="button" (click)="onDelete()">
          Produkt löschen
        </button>
      </div>
    </form>
  } @else {
    <p>Keine Produktdaten verfügbar.</p>
  }
</div>
