<div class="product-edit-container">
  <h2>Produkt bearbeiten</h2>

  @if (errorMessage) {
    <div class="error">{{ errorMessage }}</div>
  }

  @if (productData) {
    <form>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>SKU</mat-label>
        <input matInput type="text" id="sku" [(ngModel)]="productData.sku" name="sku" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" id="name" [(ngModel)]="productData.name" name="name" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Bild-URL</mat-label>
        <input matInput type="text" id="image" [(ngModel)]="productData.image" name="image" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Beschreibung</mat-label>
        <textarea matInput id="description" [(ngModel)]="productData.description" name="description" required></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Preis</mat-label>
        <input matInput type="number" id="price" [(ngModel)]="productData.price" name="price" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Lagerbestand</mat-label>
        <input matInput type="number" id="stock" [(ngModel)]="productData.stock" name="stock" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Kategorie</mat-label>
        <mat-select [(ngModel)]="productData.category.id" name="categoryId" required>
          @for (category of categories; track category.id) {
            <mat-option [value]="category.id">{{ category.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div class="mat-slide-toggle-container">
        <label class="toggle-label">Aktiv?</label>
        <mat-slide-toggle [(ngModel)]="productData.active" name="active"></mat-slide-toggle>
      </div>

      <div class="button-group">
        <button mat-raised-button class="save-button" (click)="onSave()" type="submit">Änderungen speichern</button>
        <button mat-raised-button class="delete-button" (click)="onDelete()">Produkt löschen</button>
      </div>
    </form>
  } @else {
    <p>Keine Produktdaten verfügbar.</p>
  }
</div>
