<div class="product-list-container">
  <h2>Produktliste</h2>

  @if (errorMessage) {
    <div class="error">{{ errorMessage }}</div>
  }

  @if (products.length > 0) {
    <table>
      <thead>
      <tr>
        <th>SKU</th>
        <th>Name</th>
        <th>Bild</th>
        <th>Preis</th>
        <th>Verfügbarkeit</th>
      </tr>
      </thead>
      <tbody>
        @for (product of products; track product.id) {
          <tr (click)="goToProductDetail(product.id)">
            <td>{{ product.sku }}</td>
            <td>{{ product.name }}</td>
            <td><img [src]="product.image" alt="{{ product.name }}" width="50" /></td>
            <td>{{ product.price | currency: 'CHF ' }}</td>
            <td>{{ product.stock }}</td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p>Keine Produkte verfügbar.</p>
  }
</div>
