<div class="product-list-container">
  <h2>Produktliste</h2>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <div *ngIf="products.length > 0; else noProducts">
    <table>
      <thead>
      <tr>
        <th>SKU</th>
        <th>Name</th>
        <th>Bild</th>
        <th>Preis</th>
        <th>Verfügbarkeit</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products" (click)="goToProductDetail(product.id)">
        <td>{{ product.sku }}</td>
        <td>{{ product.name }}</td>
        <td><img [src]="product.image" alt="{{ product.name }}" width="50" /></td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.stock }}</td>
      </tr>

      </tbody>
    </table>
  </div>

  <ng-template #noProducts>
    <p>Keine Produkte verfügbar.</p>
  </ng-template>
</div>
