<div class="product-list-container">
  <h2>Produktliste</h2>

  @if (errorMessage) {
    <div class="error">{{ errorMessage }}</div>
  }

  @if (products.length > 0) {
    <table>
      <thead>
      <tr>
        <th>SKU</th>
        <th>Name</th>
        <th>Bild</th>
        <th>Preis</th>
        <th>Verfügbarkeit</th>
        <th>Aktionen</th>
      </tr>
      </thead>
      <tbody>
        @for (product of products; track product.id) {
          <tr>
            <td>{{ product.sku }}</td>
            <td>{{ product.name }}</td>
            <td><img [src]="product.image || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRR86GcFZfR0R7L_f47XxDAN6snSzvnEqaCvg&s'" alt="{{ product.name }}" width="50" /></td>
            <td>{{ product.price | currency: 'CHF ' }}</td>
            <td>{{ product.stock }}</td>
            <td>
              <button (click)="viewDetails(product.id)">Details anzeigen</button>
              @if (isAdmin) {
                <button (click)="editProduct(product.id)">Produkt bearbeiten</button>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <p>Keine Produkte verfügbar.</p>
  }
</div>
