<div class="register-container">
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <h2>Registrierung</h2>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Vorname</mat-label>
      <input
        matInput
        type="text"
        id="firstName"
        name="firstName"
        #firstNameModel=ngModel
        [(ngModel)]="formData.firstName"
        required
      />
      @if (firstNameModel.touched && firstNameModel.hasError('required')) {
        <mat-error>Bitte geben Sie Ihren Vornamen ein</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nachname</mat-label>
      <input
        matInput
        type="text"
        id="lastName"
        name="lastName"
        #lastNameModel=ngModel
        [(ngModel)]="formData.lastName"
        required
      />
      @if (lastNameModel.touched && lastNameModel.hasError('required')) {
        <mat-error>Bitte geben Sie Ihren Vornamen ein</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Strasse</mat-label>
      <input
        matInput
        type="text"
        id="street"
        name="street"
        #streetModel=ngModel
        [(ngModel)]="formData.street"
        required
      />
      @if (streetModel.touched && streetModel.hasError('required')) {
        <mat-error>Bitte geben Sie Ihren Strasse inkl. Hausnummer ein</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>PLZ</mat-label>
      <input
        matInput
        type="text"
        id="zip"
        name="zip"
        #zipModel=ngModel
        [(ngModel)]="formData.zip"
        required
      />
      @if (zipModel.touched && zipModel.hasError('required')) {
        <mat-error>Bitte geben Sie Ihren Postleitzahl ein</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Stadt</mat-label>
      <input
        matInput
        type="text"
        id="city"
        name="city"
        #cityModel=ngModel
        [(ngModel)]="formData.city"
        required
      />
      @if (cityModel.touched && cityModel.hasError('required')) {
        <mat-error>Bitte geben Sie Ihren Wohnort ein</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Land</mat-label>
      <input
        matInput
        type="text"
        id="country"
        name="country"
        #countryModel=ngModel
        [(ngModel)]="formData.country"
        required
      />
      @if (countryModel.touched && countryModel.hasError('required')) {
        <mat-error>Bitte geben Sie Ihren Wohnland als Abkürzung (z.B CH) ein</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Telefon</mat-label>
      <input
        matInput
        type="text"
        id="phone"
        name="phone"
        [(ngModel)]="formData.phone"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Mobiltelefon</mat-label>
      <input
        matInput
        type="text"
        id="mobilePhone"
        name="mobilePhone"
        [(ngModel)]="formData.mobilePhone"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>E-Mail</mat-label>
      <input
        matInput
        type="email"
        id="email"
        name="email"
        #mailModel=ngModel
        [(ngModel)]="formData.email"
        required
      />
      @if (mailModel.touched && mailModel.hasError('required')) {
        <mat-error>Bitte geben Sie ihre gültige E-mail ein</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Passwort</mat-label>
      <input
        matInput
        type="password"
        id="password"
        name="password"
        #passwortModel=ngModel
        [(ngModel)]="formData.password"
        required
      />
      @if (passwortModel.touched && passwortModel.hasError('required')) {
        <mat-error>Bitte geben Sie ihr gewünschtes Passwort ein</mat-error>
      }
    </mat-form-field>

    @if (errorMessage) {
      <mat-error>{{ errorMessage }}</mat-error>
    }

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!registerForm.valid"
      matTooltip="Bitte füllen Sie alle Felder aus"
      [matTooltipDisabled]="registerForm.valid"
    >
      Registrieren
    </button>
  </form>
</div>
