<nav class="navbar">
  <button class="menu-toggle" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <ul class="menu" [class.show]="isMenuOpen">
    <li>
      <a routerLink="/products">
        Produkte
        @if (isAdmin) {
          <mat-icon>arrow_drop_down</mat-icon>
        }
      </a>
      @if (isAdmin) {
        <ul class="submenu">
          <li><a routerLink="/products">Produkte ansehen</a></li>
          <li><a routerLink="/products/create">Produkt erstellen</a></li>
        </ul>
      }
    </li>

    <li>
      <a routerLink="/categories">
        Kategorien
        @if (isAdmin) {
          <mat-icon>arrow_drop_down</mat-icon>
        }
      </a>
      @if (isAdmin) {
        <ul class="submenu">
          <li><a routerLink="/categories">Kategorien ansehen</a></li>
          <li><a routerLink="/categories/create">Kategorie erstellen</a></li>
        </ul>
      }
    </li>

    @if (isAdmin) {
      <li><a routerLink="/users">Benutzerverwaltung</a></li>
    }

    @if (!isAuthenticated) {
      <li><a routerLink="/users/login">Login</a></li>
      <li><a routerLink="/users/register">Registrieren</a></li>
    } @else {
      <li><a (click)="logout()">Logout</a></li>
    }
  </ul>
</nav>
