<div class="category-create-container">
  <h2>Kategorie erstellen</h2>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <form (ngSubmit)="onSubmit()" #categoryForm="ngForm">
    <!-- Name der Kategorie -->
    <label for="name">Name der Kategorie</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="categoryData.name"
      required
    />

    <label for="active">Status der Kategorie</label>
    <select id="active" name="active" [(ngModel)]="categoryData.active">
      <option [value]="true">Aktiv</option>
      <option [value]="false">Inaktiv</option>
    </select>
<p></p>
    <button type="submit" [disabled]="!categoryForm.valid">Kategorie erstellen</button>
  </form>
</div>
