<div class="form-container-wrapper">
  <h2>Kategorie erstellen</h2>

  @if (errorMessage) {
    <div class="error-message">{{ errorMessage }}</div>
  }

  <form (ngSubmit)="onSubmit()" #categoryForm="ngForm" class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Name der Kategorie</mat-label>
      <input
        matInput
        type="text"
        id="name"
        name="name"
        #nameModel="ngModel"
        [(ngModel)]="categoryData.name"
        required
      />
      @if (nameModel.touched && nameModel.hasError('required')) {
        <mat-error>Feld darf nicht leer sein</mat-error>
      }
    </mat-form-field>

    <div class="mat-slide-toggle-container">
      <label class="toggle-label">Aktiv?</label>
      <mat-slide-toggle [(ngModel)]="categoryData.active" name="active"></mat-slide-toggle>
    </div>

    <button
      mat-raised-button
      class="primary-button"
      [disabled]="!categoryForm.valid"
      matTooltip="Bitte füllen Sie alle Felder aus"
      [matTooltipDisabled]="categoryForm.valid"
    >
      Kategorie erstellen
    </button>
    <a mat-raised-button routerLink="/categories" class="secondary-button">Zurück zur Kategorieübersicht</a>
  </form>
</div>
