<div class="product-detail-container">
  <h2>Produktdetails</h2>

  @if (errorMessage) {
    <div class="error">{{ errorMessage }}</div>
  }

  @if (product) {
    <img
      [src]="product.image || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRR86GcFZfR0R7L_f47XxDAN6snSzvnEqaCvg&s'"
      class="product-image"
      [class.default-image]="!product.image"
    />
    <h3>{{ product.name }}</h3>
    <p><strong>Beschreibung:</strong> {{ product.description }}</p>
    <p><strong>Preis:</strong> {{ product.price | currency: 'CHF ' }}</p>
    <p><strong>Verfügbarkeit:</strong> {{ product.stock }}</p>
    <p><strong>Kategorie:</strong> {{ product.category?.name }}</p>

    <button (click)="goBackToProducts()" class="back-button">Zurück zur Produktübersicht</button>
  }
</div>
