<div class="product-detail-container">
  <h2>Produktdetails</h2>

  @if (errorMessage) {
    <div class="error">{{ errorMessage }}</div>
  }

  @if (product) {
    <img [src]="product.image" alt="{{ product.name }}" class="product-image" />
    <h3>{{ product.name }}</h3>
    <p><strong>Beschreibung:</strong> {{ product.description }}</p>
    <p><strong>Preis:</strong> {{ product.price | currency: "CHF " }}</p>
    <p><strong>Verfügbarkeit:</strong> {{ product.stock }}</p>
    <p><strong>Kategorie:</strong> {{ product.category?.name }}</p>
  } @if (!errorMessage) {
}
</div>
